[tool.black]
line-length = 88
target-version = ['py38', 'py39', 'py310', 'py311']

[tool.mypy]
files = "signify"
python_version = "3.8"
strict = true
disallow_incomplete_defs = true

[[tool.mypy.overrides]]
module = [
    "asn1crypto.*",
    "certvalidator.*",
    "oscrypto.*",
    "pyasn1.*",
    "pyasn1_modules.*"
]
ignore_missing_imports = true

[tool.ruff]
target-version = "py38"
select = ["E", "W", "C4", "I", "N", "UP", "S", "B", "PERF", "RUF", "TID", "PTH", "PIE"]
ignore = ["B904", "S101"]

[tool.ruff.pep8-naming]
extend-ignore-names = ["componentType", "namedValues"]
